@model List<Stoc>
    <div class="container">
    <div class="jumbotron">
        <h3>Yatırımını Seç</h3>
    </div>
    @using(Html.BeginForm("Detail","Home","FormMethod.Post"))
    {
        @foreach(var stoc in Model)
        {
            <div class="radio">
                <label for="female" style="width : 125px">
                    <input type="radio" name="ID" id="ID" value="@stoc.ID">@stoc.Name                                        
                </label>
                <b>Fiyat</b> : <label>@stoc.Value ₺</label>
            </div>            
        }
        <br>
        <input type="submit" value="Satın Al" class="btn btn-success">
    }